.line {
    background-color: #BF0DC2;
    height: 5px;
    width: 75rem;
    margin-top: 30px;
    margin-left: 33rem;
    
}

h2 {
    color: #060b26;
}

.testimony-header {
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.text {
    margin-top: 5rem;
    
} 

.happy {
    padding-top: 3rem;
    
}

.test-para {
    margin-top: 4rem;
    color: 	#72787E;
    font-weight: lighter;
}


